<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <activity
            android:name=".app.DebugEntryActivity"
            android:exported="true"
            android:label="TrainFlow Debug"
            android:theme="@style/Theme.TrainFlow" />
        <activity
            android:name=".app.ShortTargetTimerDialDiagnosticActivity"
            android:exported="true"
            android:theme="@style/Theme.TrainFlow" />
        <activity
            android:name=".app.HeartRateBroadcastSmokeActivity"
            android:exported="true"
            android:label="HR Broadcast Smoke"
            android:theme="@style/Theme.TrainFlow" />
        <activity
            android:name=".app.E17Band9HrsRevalidationActivity"
            android:exported="true"
            android:label="E17-1 Band 9 HRS Revalidation"
            android:theme="@style/Theme.TrainFlow" />
    </application>

</manifest>
